*{
    margin: 0;
    padding: 0;
}
.Start_header{
    padding: 30px;
    text-align: center;
    height: 20%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.rules{
   
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    
    color: #fff;
    font-family: 'Montserrat', sans-serif;
   /* overflow: hidden; */
}
.rules_block{
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items:left;
    gap:25px;
   padding-bottom: 50px;
}
.start_btn{

    align-self: center;
    height: 43px;
    width: 100px;
    border: none;
    background-color: black;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    letter-spacing: 4px;
}
.rule_h2{
   
  color: hsl(0, 14%, 78%);
 
   font-family: 'Montserrat', sans-serif;
 

}

@media screen and (max-width: 900px){
    .Start_header{
        padding: 40px;
        font-size: 15px;
        height: 10%;
       
    }
    .rules{
  
        font-size: 15px;
    
    }
    .rules_block{
        height: 50%;
        width: 70%;
       
    }
    .start_btn{
    
        letter-spacing: 4px;
    }

}