@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
:root{
  --pink:rgb(221, 21, 118);
  --teal:rgb(29, 176, 225);
  --yellow:rgb(255, 217, 0);
  /* rgb(255, 217, 0); */
  --gray:rgb(48, 47, 48);
}
.screen{

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
 
}
.card{
  height: 280px;
  width: 200px;
  color: white;
  background-color:var(--gray) ;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  
  
}
.img{
  width: 100%;
  height: 80%;
  object-fit: cover;

 
}

.cards{
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-wrap:wrap;
  flex: 1;
  /* padding: 20px; */
  position: relative;
 
  /* background-color: bisque; */
}
.game_header{
  rotate: -90deg;
  color: #fff;
  justify-self:center;
  align-items: center;
  width: 15%;
  height: 100%; 
  font-family: 'Montserrat', sans-serif;
  /* margin-bottom: 20px; */
  display: flex;
  justify-content:center;
  align-items: center;
  
}
.Text_memory{
  width: 100%;
}

.Score{
  rotate: 90deg;
  display: flex;
  flex-direction: column;
  
  /* align-items: center;
  justify-content:; */
  height: 50%;

}